.alloy-form-container{
  box-sizing: border-box;
}

.alloy-form-container * {
  box-sizing: border-box;
}

.alloy-form-container .alloy-form-item-box {
  margin-bottom: 18px;
  padding-right: 5px;
}

/* 查询下边距 */

.alloy-search-container .alloy-form-item-box {
  margin-bottom: 10px;
}

.alloy-form-container .alloy-form-item-box.alloy-form-inline {
  display: inline-block;
  width: 300px;
}

.alloy-form-container .alloy-form-item-box.alloy-form-block {
  display: block;
  width: 100%;
}

.alloy-form-container .alloy-form-item-box.alloy-form-item-textarea {
  height: auto;
}

.alloy-form-container
  .alloy-form-item-box.alloy-form-item-textarea
  .alloy-form-item {
  align-items: flex-start;
  height: auto;
}

.alloy-form-container .alloy-form-item {
  display: flex;
  align-items: center;
  color: #1f2126;
  height: 32px;
}

.alloy-form-container .alloy-form-item.alloy-form-item-border {
  padding: 0 0 0 10px;
  border: 1px solid #d5dae5;
  border-radius: 2px;
}

.alloy-form-container
  .alloy-form-item.alloy-form-item-border.alloy-form-item-disabled {
  background: #f5f7fc;
}

.alloy-form-container .alloy-form-item.alloy-form-item-border:hover {
  border: 1px solid #2b6bff;
}

.alloy-form-container .alloy-form-item.alloy-form-item-border .label-title {
  width: auto;
}

.alloy-form-container .alloy-form-item.alloy-form-item-error,
.alloy-form-container .alloy-form-item .alloy-form-item-error {
  position: relative;
}

.alloy-form-container .alloy-form-item.alloy-form-item-error *,
.alloy-form-container .alloy-form-item .alloy-form-item-error  * {
  border-color: #f2242e !important;
}

.alloy-form-container .alloy-form-item.alloy-form-item-error .error-message,
.alloy-form-container .alloy-form-item .alloy-form-item-error .error-message {
  position: absolute;
  bottom: -18px;
  left: -2px;
  z-index: 999;
  width: calc(100% + 4px);
  height: 18px;
  padding: 0 6px;
  color: #f2242e;
  font-size: 12px;
  line-height: 18px;
}

.alloy-form-container .alloy-form-item.alloy-form-item-error-border,
.alloy-form-container .alloy-form-item .alloy-form-item-error-border {
  position: relative;
  border: 1px solid #f2242e;
}

.alloy-form-container .alloy-form-item.alloy-form-item-error-border .error-message,
.alloy-form-container
  .alloy-form-item
  .alloy-form-item-error-border
  .error-message {
  position: absolute;
  bottom: -19px;
  left: -2px;
  z-index: 999;
  width: calc(100% + 4px);
  height: 18px;
  padding: 0 6px;
  color: #f2242e;
  font-size: 12px;
  line-height: 18px;
  background-color: #ffe3e3;
}

.alloy-form-container .alloy-form-item.alloy-form-item-error-border:hover,
.alloy-form-container .alloy-form-item .alloy-form-item-error-border:hover {
  border: 1px solid #f2242e;
}

.alloy-form-container .label-title {
  width: 100px;
  font-size: 14px;
  white-space: nowrap;
  text-align: right;
}

.alloy-form-container .alloy-form-item-small {
  height: 28px;
}

.alloy-form-container .alloy-form-item-small * {
  font-size: 12px !important;
}

.alloy-form-container .alloy-form-item-small .ant-input-sm {
  padding: 2.5px 7px;
}

.alloy-form-container .label-title::after {
  margin: 0 5px 0 3px;
  content: ':';
}

.alloy-form-container .label-title.required::before {
  margin: 0 3px 0 0;
  color: #f2242e;
  font-size: 13px;
  content: '*';
  font-family: SimSun,sans-serif;
  line-height: 1;
  margin-inline-end: 4px;
  display: inline-block;
}

.alloy-form-container .is-focus {
  border: 1px solid #2b6bff;
}

.alloy-form-container .flex-full {
  flex: 1;
  width: 0;
}

.alloy-form-container .ml-10 {
  margin-left: 10px;
}

.alloy-form-container .full-width {
  width: 100%;
}

.alloy-form-container .alloy-border-error {
  border-color: #f2242e;
}

.alloy-form-container .alloy-border-error .ant-select-selector {
  border-color: #f2242e;
}

.alloy-tips-icon {
  margin-top: 2px;
  margin-left: 4px;
  vertical-align: text-top;
}

.w-full {
  width: 100%;
}

.overlay-tooltip .rc-tooltip-arrow{
  border-bottom-color: rgb(0 0 0) !important;
}

.overlay-tooltip .rc-tooltip-inner{
  background-color: rgb(0 0 0);
  color: #fff;
  min-height: auto;
  border: 0;
}

/* 查询条件 */
.alloy-search-button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.alloy-search-button .alloy-button {
  display: inline-block;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 6px;
  color: #4096ff;
  border: 1px solid #4096ff;

  /* background-color: #4096ff; */
}

.alloy-search-button .primary {
  color: #fff;
  background-color: #4096ff;
}

.alloy-search-button .alloy-button::after {
  content: ' ';
}

.alloy-search-button .alloy-button:active {
  color: #0958d9;
  border: 1px solid #0958d9;
}

.alloy-search-button .primary:active {
  color: #fff;
  border: 1px solid #0958d9;
  background-color: #0958d9;
}

.alloy-search-button .alloy-button + .alloy-button {
  margin-left: 10px;
}

.alloy-search-container.line-3-seat .alloy-form-item-box.alloy-form-inline {
  width: 33.33%;
}

.alloy-search-container.line-3-seat .x2.alloy-form-inline {
  width: 66.66%;
}

.alloy-search-container.line-4-seat .alloy-form-item-box.alloy-form-inline {
  width: 25%;
}

.alloy-search-container.line-4-seat .x2.alloy-form-inline {
  width: 50%;
}

.alloy-search-container.line-5-seat .alloy-form-item-box.alloy-form-inline {
  width: 20%;
}

.alloy-search-container.line-5-seat .x2.alloy-form-inline {
  width: 40%;
}

.alloy-search-container.line-6-seat .alloy-form-item-box.alloy-form-inline {
  width: 16.66%;
}

.alloy-search-container.line-6-seat .x2.alloy-form-inline {
  width: 33.33%;
}

.alloy-search-container.form-line-1 {
  height: 68px;
}

.alloy-search-container.form-line-2 {
  height: 108px;
}


.alloy-search-form.expand {
  position: absolute;
  z-index: 9;
  width: 100%;
  box-shadow: 0 10px 10px -6px #94ade4cc;
}
